body
{
    background-color: whitesmoke;
    
}

#barra-nav
{
    background-color: rgba(34, 85, 96) !important;
    text-decoration: none !important;
}

a
{
    text-decoration: none !important;
    color: white !important;
    font-weight: bold;
}

.btn
{
    border-radius: 20px;  
}

.btn:hover
{
    background-color: rgba(159, 180, 171) !important;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

#barraPesquisa
{
    border-radius: 30px;
}