/* ----------------- CORPO DAS PÁGINAS ----------------- */
body
{
    background-color: rgba(212, 218, 210);
    
}

/* ----------------- GERAIS ----------------- */
.titulo
{
    font-weight: bold;
}

.bloco-titulo
{
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
}

.subtitulo
{
    font-style: italic;
}

.bloco-separar
{
    padding: 30px;
}

.titulo-claro
{
    font-weight: bold;
    color: rgba(223, 228, 222);
}

.text-claro
{
    color: rgba(223, 228, 222);
}

.btn-verMais
{
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(80, 104, 85);
}

.btn-verMais:hover
{
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(35, 46, 37); 
}



/* ----------------- MENU ----------------- */
#barra-nav
{
    background-color: rgba(34, 85, 96) !important;
    text-decoration: none !important;
}

a
{
    text-decoration: none !important;
    color: white !important;
    font-weight: bold;
}

.btn
{
    color: white;
    font-weight: bold;
    border-radius: 20px;  
}

.btn:hover
{
    border: none;
    color: white;
    border-radius: 20px;  
    background-color: rgba(125, 161, 130);
}


.dropdown-menu
{
    border: none;
    border-radius: 20px;
    background-color: rgba(102, 141, 108);
}

.dropdown-item:hover
{
    border: none;
    border-radius: 10px;
    background-color: rgba(125, 161, 130);
}

#barraPesquisa
{
    border-radius: 30px;
}


/* ----------------- RODAPÉ ----------------- */
.bloco-footer
{
    padding: 60px;
    color: rgba(222, 244, 222);
    text-align: center;
    background-color:  rgba(34, 85, 96);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.subtitulo
{
    font-style: italic;
    font-size: 25px;
}

.btn-social
{
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: rgba(21, 53, 60);
}

.btn-social:hover
{
    color: white;
    border: none;
    border-radius: 50px;
    background-color: rgba(159, 180, 171);

}

.copyright
{
    font-style: italic;
    font-size: 15px;
}


/* ----------------- HOME ----------------- */
.bloco-quemSomos
{
    margin: 50px;
    padding: 100px;
    border-radius: 40px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    background-image: url(../view_img/fundo_quemSomos.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.bloco-destaqueVet
{
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.card-destaque
{
    width: 33%;
    height: 33%;
    padding: 20px;
}

.card-img
{
    border-radius: 40px;
}

.card-img:hover
{
    transition: opacity 0.3s;
    opacity: 0.7;
    cursor: pointer;
}

.card-text
{
    text-align: center;
    font-weight: bold;
}


/* ----------------- SOBRE ----------------- */
.bloco-sobre
{
    margin: 50px;
    padding: 100px;
    border-radius: 40px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    background-image: url(../view_img/fundo_gatoLaranja.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.equipe
{
    margin: 30px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 10px; 
    border-radius: 50px;
    background-color: rgba(180, 213, 174) ;
}

.card /*Essa classe é essencial no estilo de outras páginas, não adulterar*/
{
    border-radius: 30px;
    background-color: rgba(230, 241, 228);
}

.card-imgSobre /*Essa classe é essencial no estilo de outras páginas, não adulterar*/
{
    padding: 10px;
    border-radius: 30px;
}

.card-imgSobre:hover /*Essa classe é essencial no estilo de outras páginas, não adulterar*/
{
    transition: opacity 0.3s;
    opacity: 0.7;
    cursor: pointer;
}

.card-body
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.card-descricao
{
    font-style: italic;
}

/* ----------------- VETERINARIO ----------------- */
.bloco-vet
{
    margin: 50px;
    padding: 100px;
    border-radius: 40px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    background-image: url(../view_img/fundo_vet2.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* ----------------- SERVIÇOS ----------------- */
.bloco-servicos
{
    margin: 50px;
    padding: 100px;
    border-radius: 40px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    background-image: url(../view_img/fundo_servicos.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* ----------------- LOJA ----------------- */
.bloco-loja /*Essa classe é essencial no estilo de outras páginas, não adulterar*/
{
    margin: 30px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 10px; 
    border-radius: 50px;
    background-color: rgba(180, 213, 174);
}

.card-descricao /*Essa classe é essencial no estilo de outras páginas, não adulterar*/
{
    padding: 15px;
}

.card-valor /*Essa classe é essencial no estilo de outras páginas, não adulterar*/
{
    font-weight: bold;
    font-size: 20px;
    color: rgba(34, 85, 96);
}

/* ----------------- CONTATO ----------------- */
.bloco-mapa
{
    margin: 40px;
}

.bloco-contato
{
    margin: 30px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 10px; 
    border-radius: 50px;
    background-color: rgba(180, 213, 174); 
    justify-content: center; 
    align-items: center; 
}

/* ----------------- MENU ADM ----------------- */
/* ----------------- RODAPÉ ADM ----------------- */
.bloco-footer2
{
    padding: 60px;
    background-color:  rgba(34, 85, 96);
    color: rgba(222, 244, 222);
    text-align: center;
    background-color:  rgba(34, 85, 96);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

/* ----------------- INDEX ADM ----------------- */

.bloco-adm
{
    margin: 80px;
    padding: 25px;
    border-radius: 50px;
    background-color: rgba(223, 228, 222); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 50px;
}

.bloco-adm-user
{
    padding: 25px;
    border-radius: 50px;
    background-color: rgba(159, 180, 171); 
}

.bloco-adm-produtos
{
    padding: 25px;
    border-radius: 50px;
    background-color: rgba(159, 180, 171); 
    justify-content: center; 
    align-items: center; 
}

.bloco-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bloquinho-titulo
{
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(112, 148, 119);
}

.btn-titulo
{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 15px;  
    background-color: rgba(112, 148, 119);
}

.btn-titulo:hover
{
    background-color: rgba(112, 148, 119);
}

.btn-adm
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;  
    background-color: rgba(34, 85, 96);
}

.btn-adm:hover
{
    border: none;
    color: white;
    border-radius: 10px;  
    background-color: rgba(125, 161, 130);
}

/* ----------------- USUARIOS ADM ----------------- */

.bloco-user
{
    margin: 30px;
    padding: 25px;
    display: flex;
    border-radius: 30px;
    background-color: rgba(180, 213, 174); 
    justify-content: center; 
    align-items: center; 
}

.btn-atualizar
{
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 50px;  
    background-color: rgba(35, 60, 148);
}

.btn-atualizar:hover
{
    background-color: rgba(19, 33, 83);
}

.btn-deletar
{
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 50px;  
    background-color: rgba(147, 36, 36);
}

.btn-deletar:hover
{
    background-color: rgba(99, 24, 24);
}

/* ----------------- LOGIN ADM ----------------- */

/* ----------------- LOGIN CLIENTE ----------------- */
/* ----------------- CADASTRO ----------------- */